#noTrespassingOuterBarG{
	height:19px;
	width:156px;
	border:1px solid #29b6f6;
	overflow:hidden;
	background-color:rgb(255,255,255);
	margin:auto;
}

.noTrespassingBarLineG{
	background-color:rgb(0,0,0);
	float:left;
	width:14px;
	height:117px;
	margin-right:23px;
	margin-top:-27px;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}