.input-field__text {
    box-sizing: border-box;
    padding-right: 30px;
}

.input-field__remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    cursor: pointer;
}

.input-field:hover .input-field__remove-button {
    opacity: 0.3;
}

.input-field:hover .input-field__remove-button:hover {
    opacity: 1;
}